<div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center" style="height: 100vh">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-md="center">
        <form novalidate     class="login-form activeform"
                            id="mainloginform"
                            *ngIf="guest.forgotPassword === false"
                            #loginForm="ngForm"
                            (ngSubmit)="login(guest)"
                            [ngStyle.gt-sm]="{'margin-right': '10vh'}"
                            fxLayout="column"
                            fxLayoutAlign="center center">
                            <!-- {{diagnostic}} -->
            <input placeholder="UserID" class="number" required
                    type="text"
                    appOnlyNumber="\D"
                    name="userID"
                    minlength="10"
                    maxlength="10"
                    [(ngModel)]="guest.userID"
                    #userID="ngModel"
                    (keyup.enter)="login(guest)">
            <div *ngIf="userID.invalid && (userID.dirty || userID.touched)" class="alert alert-danger input-error">
                <div *ngIf="userID.errors.required">
                    User ID is required.
                </div>
                <div *ngIf="userID.errors.notDigits">
                    User ID should consist of only digits.
                </div>
                <div *ngIf="userID.errors.minlength">
                    10 digits are required.
                </div>
            </div>
            <br>
            <input type="password" placeholder="Password" class="password" required
                    name="password"
                    [(ngModel)]="guest.password"
                    #password="ngModel"
                    (keyup.enter)="login(guest)">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger input-error">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
            </div>
            <br>
            <div style="align-self: baseline; padding-left: 27px; cursor: pointer">
                <a style="color: white" (click)="forgotPassword()">Forgot Password?</a>
            </div>
            <br>
            <div style="align-self: flex-end; padding-right: 27px;">
                <button class="login-button" type="submit"
                        mat-raised-button
                        [disabled]="loginForm.invalid"
                        (click)="login(guest)">LOGIN</button>
            </div>
            <div *ngIf="guest.incorrectCredentials" style="margin-top: 20px" class="alert alert-danger input-error">
                <div >
                    Incorrect Username and/or Password.
                </div>
            </div>
        </form>
        <form class="login-form inactiveform"
                id="forgotpasswordform"
                *ngIf="guest.forgotPassword"
                [@forgotPasswordState]="guest.state"
                #forgotPasswordForm="ngForm"
                [ngStyle.gt-sm]="{'margin-right': '10vh'}"
                fxLayout="column"
                fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="start">
                <span style="height: 21px; width: 21px" class="forgot-password-back-button"></span><span style="color: white; line-height: 24px" (click)="backToLogin()">Back</span>
            </div>
            <div style="width: 100%">
                <input [(ngModel)]="guest.userID" placeholder="Confirm UserID" class="number">
                <br>
                <button mat-raised-button (click)="generateNewPassword()">Generate New Password</button>
            </div>
        </form>
    </div>
</div>
