a {
    text-decoration: none;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442;
}

.login-form {
    background: rgba(0,0,0,0.5);
    height: 470px;
    width: 320px;
    border-radius: 7px;
}

%input-images {
    background-repeat: no-repeat;
    background-position: right 7px center;
    border-radius: 2px;
}

input {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    width: 80%;
    padding-left: 10px;
    box-shadow:inset 0px 1px 5px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
}

input:focus{
  box-shadow: 0 0 10px #4A90BE;
  border:1px solid #4A90BE;
  border-left: 5px solid #4A90BE;
}

input.number{
    background-image: url(images/round-person-24px.svg);
    @extend %input-images;
}

input.password{
    background-image: url(images/outline-lock-24px.svg);
    @extend %input-images;
}

.forgot-password-back-button {
    background-image: url(images/outline-keyboard_arrow_left-24px.svg);
    background-repeat: no-repeat;
}

.input-error {
    text-align: left;
    margin-top: -8px;
    margin-bottom: 1px;
    width: 80%;
    padding: 7px;
}

.login-button {
    border-radius: 5px;
    background-color: #fcbe08;
    color: white;
    font-weight: 600;
}

@keyframes activeform {
    0% {
        display: block;
        opacity: 0.1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes inactiveform {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
        display: none;
    }
}

.activeform {
    // animation: activeform 1s linear forwards
}

.inactiveform {

    // animation: inactiveform 0.001s linear forwards;
    // display: none;
}
