// .sidenav-closed {
//     transform: translate3d(-70%, 0, 0) !important;
//     visibility: visible !important;
// }

.main-content {
    margin-left: 50px;
    transition: 0.5s;
}

.main-content-blurred {
    margin-left: 250px;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav-open {
    width: 250px;
}

.sidenav-list {
    text-align: left;
    font-size: 20px;
    white-space: nowrap;
    li {
        margin: 50px 0;
        cursor: pointer;
    }
}
